
.welcomemessage{
    background-color:var(--primary_color);
    color: var(--primary_color);
    background-image: url(../../assets/hero.jpg);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100vh;
    font-size: 2rem;
    
}

@media screen and(max-width:28.125em){
    .welcomemessage{
        background-image: none;
        background-color: var(--secondary_color);
        
    }
}