.destination1{
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    padding: .7rem;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

.destination1 img{
    width: 50%;
    /* height: 100%; */
}

.tsavo{
    width: 30rem;
    padding: 1rem;
    
    box-shadow: 12px 13px 16px 0px rgba(240,59,20,0.75);
-webkit-box-shadow: 12px 13px 16px 0px rgba(240,59,20,0.75);
-moz-box-shadow: 12px 13px 16px 0px rgba(240,59,20,0.75);
}

.tsavocontent{
    display: flex;
    flex-direction: row;
    gap: .8rem;
}
.tsavofooter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}
.destination2{
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;   
    padding: .7rem; 
    animation: myAnim 2s ease 0s 1 normal forwards;
}
.destination2 p{
	border-bottom: 1px solid orange;
}




@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

.destination2 img{
    width: 100%;
}