/* icons */
.icons{
    display:flex;
    flex-direction: row;
    gap:8rem;
    justify-content: space-around;
    
}
 h1{
   
    display:flex;
    flex-direction: row;    
    justify-content: center;
    color:black;
}
@media screen and (max-width: 102.625em) {
    .icons{
        /* display:none; */
        
    }
}
