/* Sites.css */
.viewsites {
    width: 100%;
    justify-content: space-between;
  }
  
  .viewsites1 {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
  
  .kenya {
    display: none;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    width: 100%; 
    margin-top: 2rem;
    position: relative;

animation: customAni 2s ease 0s infinite normal none;
  }

@keyframes customAni {
    0% {
      animation-timing-function: ease-in;
      opacity: 1;
      transform: translateX(48px);
    }
  
    24% {
      opacity: 1;
    }
  
    40% {
      animation-timing-function: ease-in;
      transform: translateX(26px);
    }
  
    65% {
      animation-timing-function: ease-in;
      transform: translateX(13px);
    }
  
    82% {
      animation-timing-function: ease-in;
      transform: translateX(6.5px);
    }
  
    93% {
      animation-timing-function: ease-in;
      transform: translateX(4px);
    }
  
    25%,
    55%,
    75%,
    87%,
    98% {
      animation-timing-function: ease-out;
      transform: translateX(0px);
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  


  .kenya.active {
    display: flex;
  }
  
  .kenya img {
    width: 60%;
  }
  
  .kenya p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 1rem; 
    border-radius: 5px; 
  }
  
  .kenya:hover p {
    opacity: 1;
  }
  