.myfooter{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:3rem;
   padding: 2rem;
   border-top: .1px solid orangered;
}

.footersocial{
    display: flex;
    flex-direction:column ;
    gap:.9rem;
}
.copy{
    display: flex;
    flex-direction: column;
    gap:3rem;
}
