.Header1{
    display: flex;
    justify-content: right;
    gap:5rem;
    background-color:orangered;
    min-height:4rem;
    align-items: center;
    color:rgba(255,255,255);
}
.Header1 a{
    color:white;
    text-decoration: none;
}