.header{
    display: flex;
    justify-content: right;
    gap:5rem;
    background-color:orangered;
    min-height:4rem;
    align-items: center;
    color:rgba(255,255,255);
}
.header a{
    color:white;
    text-decoration: none;
}
.p1 :hover{
    background-color: purple;
    padding:10px;
    border-radius:10%;
    color:orange;
}
.p2{
    background-color: purple;
    color:orange;
    min-height: 4rem;
    display:flex;
    flex-direction: row;
   justify-content: center;
   padding-top: 1%;
   padding-right: 10px;
}
.p2 :hover{
    background-color: orange;
    color:white;
}