.Top{
    display:flex ;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    /* height: 100%; */
    
    /* flex-direction: row; */
    /* width:3rem; */
}
.orange{
    background-color: orangered;
    align-items: left
}
.topleft{
    border:3px solid green;
    padding:1rem;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);

}

.header{
    display: flex;
    justify-content: center;
    gap:3rem;
    background-color:orangered;
   
    align-items: center;
    color:rgba(255,255,255);
    min-width: 85%;
     /* margin-left:10rem; */
     
}
@media screen and (max-width:49.75em) {
    .Top{
 

        height:4572px;
   
    }
    
}
.header a{
    color:white;
    text-decoration: none;
}


.p1 :hover{
    background-color: purple;
    padding:10px;
    border-radius:10%;
    color:orange;
}
.p2{
    background-color: purple;
    color:orange;
    /* min-height: 4rem; */
    display:flex;
    flex-direction: row;
   justify-content: center;
   padding: 5px 5px;
   /* padding-top: 1%;
   padding-right: 10px; */
}
.p2:hover{
    background-color: orange;
    color:white;
}
@media screen and (max-width: 46.875em) {
    .header{
      flex-wrap: wrap;
      justify-content: center;
    }
  }
    
